.details_image_div {
  /* width: 100vw; */
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details_image_div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.details .detail_icon {
  width: 18px;
  height: 18px;
}
.detail_icon {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.detail_icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.icon_cat_container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.details_provider_favoruite {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.favoruite_grey {
  /* color: #17c737; */
  fill: #b5b5b5;
}

.detail_provider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: relative;
}
.detail_provider > div > h3 {
  margin: 0;
}

.advert-title-info-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.advert-title-info-icon > svg {
  cursor: pointer;
}

.details_location {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details_contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.details_contact .contact_us {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 2.5px;
  border: 2px solid #17c737;
  background: #17c737;
  gap: 9px;
  cursor: pointer;
}

.contact_us > button,
.visit_our_web_site > button {
  border: none;
  background-color: inherit;
}
.details_contact .visit_our_web_site {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  border-radius: 2.5px;
  border: 2px solid var(--parrot-color);
  width: auto;
}

.details_provider_products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details_contact .visit_our_web_site:hover {
  background-color: var(--hover-parrot-button);
  border-color: var(--hover-parrot-button);
}
.details_contact .contact_us:hover {
  background-color: var(--hover-parrot-button);
  border-color: var(--hover-parrot-button);
}
.details .details_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detial_product_image > div {
  width: 31%;
  height: 220px;
}

@media screen and (max-width: 767px) {
  .detial_product_image > div {
    width: 100%;
    height: 220px;
  }
}
.carousel_imge {
  /* width: 400px; */
  height: 400px;
}

.carousel-item > img {
  border-radius: 5px;
}

/* Revert the color of the carousel control icons */
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #ff0000;
} */

.detial_product_image {
  gap: 35px;
  flex-wrap: wrap;
}
.detial_product_image > div > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  object-fit: cover;
}
.details_description > h3 {
  margin: 0;
}
.details_description > p {
  text-align: justify;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.social_head {
  font-family: Quicksand;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

.social_group > div {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.details_read_more {
  color: var(--parrot-color);
  cursor: pointer;
}

.detials_provider_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.details_provider_ads {
  width: 100%;
  color: black;
}

.details_ads {
  display: flex;
  gap: 31px;
  flex-wrap: wrap;
  /* justify-content: center; */
  color: black !important;
}

.detials_provider_img {
  height: 75px;
  position: relative;
}

.details_favoruite {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  right: 10px;
}
.details_provider_ads {
  border: 1px solid #d1d1d1;
  border-radius: 2.5px;
}

.details_ads_description {
  margin: 7px 5px 0 5px;
}

.container_ads_button {
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
  border: none;
  border-radius: 30px;
  border-style: 49px;
  padding: 2.5px 5px;
  color: red;
  background-color: #c9ffd3;
}

.container_ads_button ~ p {
  margin-bottom: 0;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.details_ads_description_provider {
  color: #333;

  font-family: Quicksand;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  /* line-height: 10px; */
}

.show_more_ads_btn {
  border: none;
  background-color: unset;
  margin: 20px 0px;
  color: #17c737;

  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

@media screen and (min-width: 331px) {
  .details_provider_ads {
    width: 45%;
  }
}
@media screen and (min-width: 536px) {
  .details_provider_ads {
    width: 47%;
  }
  .details_provider_ads {
    width: 36%;
  }
  .details_ads {
    gap: 37px;
  }

  .show_more_ads_btn {
    font-size: 18px;
  }
}
@media screen and (min-width: 736px) {
  .details_provider_ads {
    width: 29%;
  }

  .detials_provider_img {
    height: 100px;
  }
}
@media screen and (min-width: 888px) {
  .details_provider_ads {
    width: 21%;
  }
}
@media screen and (min-width: 1020px) {
  .details_provider_ads {
    width: 18%;
  }
  .details_ads {
    gap: 31px;
  }
}

@media screen and (min-width: 768px) {
  .details_contact .visit_our_web_site {
    padding: 10px 20px;
  }

  .details_contact .contact_us {
    padding: 10px 20px;
  }
  .detial_img_main_div {
    display: flex;
    gap: 32px;
  }

  .details_location {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .details_image_div {
    width: 60%;
    height: 600px;
    height: 363px;
  }

  .details .details_description {
    width: 50%;
  }
  .details .details_description > p {
    line-height: 26px;
    font-style: normal;
    text-align: left;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .detail_provider {
    width: 53%;
  }

  .details_provider_favoruite {
    width: 31px;
    height: 23px;
    right: 0px;
  }

  .advert-preview-container {
    width: 92%;
  }
}

.singleProduct_image {
  position: relative;
}
.singleProduct_image > div {
  position: absolute;
  /*left: 50%;
  */
  font-family: quicksand;
  align-items: center;
  justify-content: center;
  top: 0;
  font-size: 33px;
  color: darkred;
  display: flex;
  width: 100%;
  height: 100%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 0;
  transition: opacity ease-in-out 0.8s;
  -webkit-transition: opacity ease-in-out 0.8s;
  -moz-transition: opacity ease-in-out 0.8s;
  -ms-transition: opacity ease-in-out 0.8s;
  -o-transition: opacity ease-in-out 0.8s;
}
.singleProduct_image > div:hover {
  opacity: 1;
}

/* #zoomimage {
  width: 500px;
  height: 500px;
} */

#zoomimage .modal-body {
  padding-left: 26px;
  padding-right: 26px;
}

.preview_product_price {
  color: #17c737;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: quicksand;
}

.zoom-image {
  width: 100%;
  height: 300px;
  /*object-fit: cover;
  */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.zoomModalClose {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 12px;
  cursor: pointer;
}

#providerDetailsModal {
  max-width: 50% !important;
  margin: auto;
}

.store-detaisl-label {
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
  font-family: Lato;
}

.store-details-info {
  font-family: Quicksand;
  font-weight: 400;
  color: #000000;
  /* font-weight: bolder !important; */
  font-size: 1rem;
}

/* css by alok */
/* .w-30{
  width: 30% ;
} */
.detial_product_image > div {
  width: 100%;
  height: 220px;
}
.prd-preview-grd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .w-30 {
    width: 100%;
  }
  .prd-preview-grd {
    display: grid;
    grid-template-columns: 1fr;
  }
}
