.nav_container {
  background-color: var(--background-color);
  color: var(--white-text);
  display: flex;
  flex-direction: column;
}

.nav_login_profile {
  /* border: 1px brown solid; */
  display: flex;
  justify-content: right;
  /* width: 60%; */
}
.mobile_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px;
  padding: 6px 0px;
}
.logo_div {
  width: 96px;
  height: 45px;
}
.nav_search {
  padding: 15px 0 0 0px;
  /* border: 1px blue solid; */
}

.auth {
  gap: 0.5em;
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nab .login:hover {
  border-color: var(--hover-parrot-button);
}
.login {
  font-size: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  border-radius: 2.5px;
  border: 2px solid #17c737;
  padding: 10px 4px;
  display: flex;
  gap: 0.5em;
  color: white;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.nav_search {
  background-color: white;
}

.signUp:hover {
  background-color: var(--hover-parrot-button);
  border: 2px solid var(--hover-parrot-button);
}

.signUp {
  font-size: 18px;
  font-family: "Quicksand";
  font-weight: 500;
  border: 2px solid var(--parrot-color);
  padding: 10px 4px;
  display: flex;
  gap: 0.5em;
  color: black;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  border-radius: 2.5px;
  background-color: var(--parrot-color);
}

.nav_search > form {
  display: flex;
  margin: 0 6px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search__input {
  width: 100%;
  padding: 0 0 0 29px;
  outline: none;
  border: none;
}
.postal__input {
  width: 100%;
  padding: 0 0 0 29px;
  outline: none;
  border: none;
}

.search__input__conatiner {
  color: #757575;
  font-family: Lato;
  font-weight: 400;
  /* font-size: 14px; */
  position: relative;
  border-right: 2px solid black;
  width: 46%;
  padding: 13px 0px;
}

.search__input__conatiner .search_icon {
  position: absolute;
  left: 9px;
  top: 17px;
}

.search__input__conatiner .search_icon,
.postal_icon,
.filter_icon {
  position: absolute;
  top: 16px;
  left: 5px;
}

.postal__input__container {
  position: relative;
  width: 45%;
  padding: 13px 5px 13px 0px;
  color: #757575;
  font-family: Lato;
  font-weight: 400;
}

.searButoon_container {
  background-color: #17c737;
  width: 13%;
  padding: 8px 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searButoon_container > button {
  width: 100%;
  height: 98%;
  padding: -1px 0;
  border: none;
  background-color: #17c737;
}

/* user profile */

.user__profile:hover {
  border-color: white;
}

.user__profile {
  display: inline-flex;
  cursor: pointer;
  height: 41px;
  color: #f3f3f3;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  border-radius: 2.5px;
  border: 2px solid var(--parrot-color);
}
.filter__conatiner {
  color: #757575;
  font-family: Lato;
  font-weight: 400;
  position: relative;
  border-right: 2px solid black;
  width: 46%;
  padding: 13px 0px;

  .search__input > div {
    display: flex !important;
  }
}

.large_middle_nav {
  width: 60%;
}

@media screen and (max-width: 1275px) {
  .large_middle_nav {
    width: 65%;
  }
}
@media screen and (min-width: 1238px) {
  .login {
    padding: 10px 20px;
  }

  .signUp {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 1117px) {
  .large_middle_nav {
    width: 68%;
  }
}

@media screen and (max-width: 600px) {
  .login,
  .signUp {
    font-size: 15px;
    padding: 8px 4px;
  }

  .cat_icon_img_div {
    width: 26px;
    height: 26px;
  }

  .search__input,
  .postal__input {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  #modal_one {
    min-width: 40vw;
  }

  #modal_two {
    min-width: 37rem;
  }

  #modal_three {
    min-width: 37rem;
  }
  .nav_search {
    padding: 0px 0 0 0px;
    border-radius: 5px;
  }

  .nav_search > form {
    margin: 0;
  }
  .postal_icon,
  .filter_icon {
    position: absolute;
    top: 19px;
    left: 14px;
  }

  .mobile_top {
    margin: 0 2.5rem;
  }

  .search__input,
  .postal__input {
    padding: 0 5px 0 39px;
  }

  .searchbuttonText {
    color: var(--white-text);
  }

  .searButoon_container {
    width: 15%;
  }
  .filter__conatiner {
    width: 283px;
  }
  .postal__input__container {
    width: 32%;
  }
}

.app-menu__item {
  text-decoration: none;
  color: var(----light-gray-color);

  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 118%;
  border-left: 2px solid #17c737 !important;
  top: -46px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.dropw_down_menu {
  transform: translate3d(-39px, 38px, 0px) !important;
  width: 218px;
  /*padding: 0 7px !important;
  */
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-style: none !important;
  border-left-style: 1px solid green !important;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(-39px, 38px, 0px) !important;
  -moz-transform: translate3d(-39px, 38px, 0px) !important;
  -ms-transform: translate3d(-39px, 38px, 0px) !important;
  -o-transform: translate3d(-39px, 38px, 0px) !important;
}

.dropdown-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  justify-content: space-between !important;
}

/* .dropdown-item:hover {
  background: none !important;
  color: var(--parrot-color) !important;
} */

.dropdown-item:active {
  background-color: inherit !important;
  color: green !important;
}

/* .border_bottom {
  border-bottom: 1px solid #353535 !important;
} */

li > a {
  background-color: unset;
  color: inherit;
}

/* modal one css */
/* .display: flex;
width: 600px;
padding: 25px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px; */
.modal_one_Content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin: 11px 0;
}

#modal_one {
  padding: 20px 0;
}

#modal_one > .modal-content {
  border-style: none;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border: 1px solid black;
}

.modal_one_head {
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 550;
  line-height: 30px;
  text-align: center;
}

.modal_one_btn {
  width: 150px;
  height: 40px;
  padding: 5px 10px;
  gap: 5px;
  border: none;
  border-radius: var(--parrot-button-radiue);
  padding: 5px 10px;
  color: white;
  background: var(--parrot-color);
}

.modal_one_btn:hover {
  background-color: var(--hover-parrot-button);
}

/* .form-check-input:checked[type="radio"] {
  background-color: #00ff00;
  background-image: none;
} */

/* .form-check-input:checked[type="radio"] {
  border-color: black;
  outline: 1px;
  box-shadow: none;
} */

.userSearch,
.assistSearch {
  color: var(--text-black-color);
  font-family: var(--qicksand--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  display: flex;
  align-items: center;
  position: relative;
}

.assist-serach-label {
  display: flex;
  align-items: center;
}

.dropw_down_menu_border > li {
  border-bottom: 1px solid #353535;
  &:last-child {
    border-bottom: 0px;
  }
}
.assist-serach-label::before {
  content: "";
  /* position: absolute; */
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.user_search_input,
.assist_search_input {
  display: none;
}

.user_search_input,
.assist_search_input 

/* SecondModal */

.modal_sub_head {
  color: #000;
  /* text-align: center; */
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.modal_two_Content_container {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 7px 32px;
}

.modalTwo_inputAGroup {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.moda_two_input {
  color: #868686;

  /* Body 14 R */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.moda_two_label {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}

.modalTwo_inputAGroup > div {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #868686;
  gap: 5px;
}

.modalTwo_inputAGroup > div > input {
  outline: none;
  border: none;
}

.modalTwo_inputAGroup > div > input > label {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.modalthree_inputAGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalthree_inputAGroup > div {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #868686;
  gap: 4px;
}

.modalthree_inputAGroup > div > input {
  outline: none;
  border: none;
}
.modalthree_inputAGroup > div > textarea {
  outline: none;
  border: none;
}

.modal_three_Content_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 17px 7px;
  color: #000;
  /* text-align: center; */
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#thirdModal_drop_down {
  text-decoration: none;
  /* color: black; */
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal_dropDown {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
}

.dropdown-item {
  cursor: pointer;
}
.modalThreeCategroy .dropdown-item:not(:last-child) {
  border-bottom: 1px solid #000; /* Add your desired border properties here */
}

.dropdown-item:hover {
  color: green !important;
}
.modal_dropDown .dropdown-item:hover {
  background: none;
  color: none;
}

.modalThreecategroy {
  border: none;
  outline: none;
  cursor: pointer;
}
.modal_dropDown {
  padding: 0 !important;
}
.modal_dropDown > li {
  padding: 2px 10px;
}

.modal_ther_input_font {
  color: #868686;

  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

@media screen and (min-width: 1120px) {
  .logo_div {
    width: 147.635px;
    height: 45px;
  }
}

@media screen and (min-width: 600px) {
  .user__profile {
    height: 45px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 992px) {
  .search__input__conatiner {
    width: 38%;
  }

  .search__input__conatiner .search_icon {
    position: absolute;
    left: 14px;
    top: 19px;
  }
}

.custom_drop_down_item {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: balance !important;
}

.type-ahead-options {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 44px;
  min-width: 100%;
  z-index: 500;
  background-color: #fff;
  border: 1px solid #d8d6d9;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(177, 173, 179, 0.3);
  /* display: none; */
}

.type-ahead-option {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: auto;
  white-space: pre-wrap;
  padding: 12px 16px;
}

.type-ahead-option.type-ahead-option--focused,
.type-ahead-option:hover {
  background-color: #dbdadb;
}

.icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: gumicon, sans-serif;
  font-size: 16px;
  line-height: 1;
  speak: none;
  vertical-align: middle;
  min-width: 18px;
}

.icon--medium {
  font-size: 20px;
}

.type-ahead-option .text-part-container {
  margin-left: 12px;
}

@media screen and (max-width: 620px) {
  .type-ahead-option-highlight {
    font-size: 14px;
  }
  .type-ahead-option {
    padding: 3px 7px;
  }
  .type-ahead-option .text-part-container {
    margin-left: 5px;
  }
}

@media screen and (min-width: 48em) {
  .type-ahead-options {
    margin-top: 8px;
  }
}
