.bread_filter_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
}
.bread_crumb_link {
  color: #000;

  /* Body 14 R */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.fileteAnBreadCrump {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  width: 92%;
  margin: auto;
}
.fileteAnBreadCrump > ul {
  display: none;
}

.filterNav > a {
  text-decoration: none;
  color: black;
  color: #000;

  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.filterNav > a {
  border-radius: 20px;
  border: 0.5px solid #d1d1d1;
  background-color: white;
  padding: 10px 4px;
}

.filterNav {
  gap: 15px;
  display: flex;
}

ul > li {
  list-style: none;
}

.featured-filter-box {
  background: #fff;
  border: 0.1rem solid #cacacc !important;
  border-radius: 0.2rem !important;
  padding: 0.6rem 1.6rem !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  white-space: nowrap !important;
  -webkit-border-radius: 0.2rem !important;
  -moz-border-radius: 0.2rem !important;
  -ms-border-radius: 0.2rem !important;
  -o-border-radius: 0.2rem !important;
}

.featured-filter-box:hover {
  border-color: #615c66;
}

.price-distance-filter-container {
  display: flex;
  gap: 0.5rem;
}

.featured-filter-selected {
  background-color: #17c737 !important;
}

@media screen and (min-width: 530px) {
  .filterNav > a {
    padding: 10px 20px;
  }

  .fileteAnBreadCrump > ul {
    margin-bottom: 0;
    padding-left: 0;
    text-transform: capitalize;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.active-nav-bg {
  background-color: #c9ffd3 !important;
}

.arrowClip:before {
  background-color: #fff;
  border-left: 0.1rem solid #cacacc;
  border-top: 0.1rem solid #cacacc;
  box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  content: "";
  height: 1.2rem;
  left: 10%;
  position: absolute;
  top: -11px;
  transform: rotate(45deg);
  width: 1.2rem;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.sm-price-distance-filter-container {
  justify-content: start;
  width: 92%;
  margin: auto;
  display: flex;
  gap: 0.5rem;
}

@media screen and (min-width: 991px) {
  .sm-price-distance-filter-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hr {
    margin: 0;
    margin: auto;
    width: 98%;
  }

  .bread_filter_container {
    margin-top: 15px;
    gap: 15px;
  }
  .filterNav > a {
    font-size: 14px;
  }

  .fileteAnBreadCrump {
    justify-content: end;
  }

  .postal__input__container,
  .search__input__conatiner {
    padding: 8px 5px 8px 0px;
  }

  .search__input__conatiner .search_icon,
  .postal_icon {
    top: 13px;
    left: 5px;
  }

  .searButoon_container > button > svg {
    width: 20px;
    height: 20px;
  }

  .featured-filter-box {
    padding: 0.4rem 0.6rem !important;
    font-size: 14px;
  }
}
