.container_live {
  width: 92%;
  margin: auto;
  display: flex;
  gap: 3.4%;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin-bottom: 25px;
}

.single_Ads {
  width: 100%;
}

.single_Ads.p-0 {
  margin-bottom: 33px;
}

.ads_img_div {
  width: 100%;
  height: 200px;
  position: relative;
}

.ads_img_div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.single_Ads {
  gap: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d7d1d1;
}

.ads_details {
  display: flex;
  flex-direction: column;
  gap: 7px;
  /* gap: 5px; */
  padding: 0px 15px;
  margin-bottom: 10px;
}

.ads_img_div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ads_details > div .price {
  color: #17c737;
  font-family: Quicksand;
  font-size: var(--var-card-price-font-size);
  font-style: normal;
  font-weight: var(--var-card-price-font-weight);
  line-height: 30px;
}

.ads_details > div {
  display: flex;
  justify-self: center;
  align-items: center;
}

.ads_img_div .favoruite {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 12px;
  top: 10px;
}

.ads_details > div .off_price {
  margin-left: 9px;
  color: #333;
  font-family: Quicksand;
  font-size: var(--var-card-offPrice-font-size);
  font-style: normal;
  font-weight: var(--var-card-oofPrice-font-weight);
  line-height: 20px;
  text-decoration-line: line-through;
}

.ads_cat {
  color: #353535;
  font-family: Lato;
  font-size: var(--var-category-font-size);
  font-style: normal;
  font-weight: var(--var-cateogry-font-weight);
  line-height: 20px;
}

.ads_details > p {
  color: #000;
  font-family: Quicksand;
  font-size: var(--var-card-description-font-size);
  font-style: normal;
  font-weight: var(--var-card-description-font-weitht);
  line-height: 24px;
  margin: 0;
}

.ads_details .provider {
  color: #333;
  font-family: Quicksand;
  font-size: var(--var-card-provider-font-size);
  font-style: normal;
  font-weight: var(--var-card-provider-font-weight);
  line-height: 20px;
}

@media screen and (min-width: 630px) {
  .single_Ads {
    width: 48%; /* Add !important to this line */
  }
}

@media screen and (min-width: 1082px) {
  .single_Ads {
    width: 31%;
  }
}

.whereTo-btn-all {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  width: fit-content;
  border: none;
  border-radius: 30px;
  border-style: 49px;
  padding: 4px 8px;
  color: red;
  background-color: #c9ffd3;
}
